@font-face {
    font-family: 'merriweather';
    src: url(/assets/fonts/merriweather/merriweather-regular.ttf);
}

@font-face {
    font-family: 'merriweatherBold';
    src: url(/assets/fonts/merriweather/merriweather-bold.ttf);
}

body {
    font-family: 'merriweather', serif;
    font-size: 16px;
    color: #ffffff;
    user-select: none;
}

h2 {
    font-family: 'merriweatherBold', serif;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0px 0px 4px rgba( 0, 0, 0), 0px 1px 4px rgba( 0, 0, 0);
}

#cookiesStock {
    font-size: 1.5em;
}

#buildings::before {
    font-family: 'merriweatherBold', serif;
    font-size: 11px;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px rgba( 0, 0, 0), 0px 1px 4px rgba( 0, 0, 0);
}